body { padding: 30px; font-family: 'input_mono_regular'; font-size: 11px; line-height: 15px; letter-spacing: 0.5px; }

#terminal { line-height: 15px; color:#999; white-space: pre}
#terminal input { padding: 0px; width: calc(100vw - 70px); background: transparent; color: white;}
#terminal span { color:white; }
#terminal b { font-family: 'input_mono_medium'; font-weight: normal;}
#terminal #display {}
#terminal #display div { background-color: transparent; -webkit-transition: background-color 500ms linear; padding:0px 2px }