body { background:var(--background) !important; color:var(--f_high) !important; }

#mixer > .channel { background-color: var(--background) !important; -webkit-transition: background-color 50ms linear; }
#mixer > .channel.note.active  { background-color: var(--b_med) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }
#mixer > .channel.setting.active  { background-color: var(--b_inv) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }

@keyframes blink {  
  0% { color: var(--b_inv) !important; }
  100% { color: black; }
}

@-webkit-keyframes blink {
  0% { color: var(--b_inv) !important; }
  100% { color: black; }
}