body { background:var(--background) !important; color:var(--f_high) !important; }

#mixer > div span { color:var(--f_high) !important; }
#mixer > div span.cid { color:var(--f_low) !important; }
#mixer > div .oct { background-color: var(--background) !important; -webkit-transition: background-color 250ms linear; }
#mixer > div .env { background-color: var(--background) !important; -webkit-transition: background-color 250ms linear; }
#mixer > div .osc { background-color: var(--background) !important; -webkit-transition: background-color 250ms linear; }
#mixer > div .val { background-color: var(--background) !important; -webkit-transition: background-color 250ms linear; }

#mixer > div .oct.active { background-color: var(--b_med) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }
#mixer > div .env.active { background-color: var(--b_inv) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }
#mixer > div .osc.active { background-color: var(--b_inv) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }
#mixer > div .val.active { background-color: var(--b_inv) !important; -webkit-transition: background-color 1ms linear; color:var(--background) !important; }

#commander input { color:var(--f_high) !important; }

#pilot.recording #recorder { color:var(--b_inv) !important; }

@keyframes blink {  
  0% { color: var(--b_inv) !important; }
  100% { color: black; }
}

@-webkit-keyframes blink {
  0% { color: var(--b_inv) !important; }
  100% { color: black; }
}